# Python artifacts
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database & Chrome Profile
*.db
*.sqlite3
chrome_profile/

# Scraped/exported data
/data/
/exports/
*.csv

# OS / editor cruft
.DS_Store
Thumbs.db
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage