# Python artifacts
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database & Chrome Profile
*.db
*.sqlite3
chrome_profile/

# Data & Security files
*.csv
*.json
*.txt
auth.js

# Testing
.pytest_cache/